@using Application.Features.Users.Configs.Queries.GetConfigs;
@using Domain.Enums.Memberships;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@using YZPortal.Client.Clients.YZPortalApi;
@using YZPortal.Client.Pages.Authentication
@using YZPortal.Client.Services.Authentication;
@using YZPortal.Client.Services.LocalStorage;
@inherits LayoutComponentBase
@inject IAuthorizationService _authorizationService
@inject ILocalStorageService LocalStorageService
@inject YZPortalApiHttpClient YZPortalApiClient
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject SignOutSessionStateManager SignOutManager
@inject NavigationManager Navigation

<PageTitle>YZPortal</PageTitle>

<Layout SideWidth="0" IsPage="true" ShowGotoTop="true" ShowCollapseBar="true"
        IsFullSide="@Configs.PortalConfig.IsFullSide" IsFixedHeader="@Configs.PortalConfig.IsFixedHeader" IsFixedFooter="@Configs.PortalConfig.IsFixedFooter" ShowFooter="@Configs.PortalConfig.ShowFooter"
        TabDefaultUrl="/" UseTabSet="@Configs.PortalConfig.UseTabSet" AdditionalAssemblies="new[] { GetType().Assembly }" class="@Configs.PortalConfig.Theme">
    <Header>
        <span class="ms-3 flex-sm-fill d-none d-sm-block"></span>
        <div class="flex-fill d-sm-none">
        </div>
        <CultureSelector />
        <AuthorizeView>
            <Authorized>
                <Logout ImageUrl="_content/Reference.Shared/images/Argo.png" DisplayName="超级管理员" UserName="@context.User.Identity?.Name">
                    <LinkTemplate>
                        <a @onclick="OnLogout"><i class="fa-solid fa-suitcase"></i>Logout</a>
                    </LinkTemplate>
                </Logout>
                @*<Widget></Widget>*@
                <div class="layout-drawer" @onclick="@(e => IsRightDrawerOpen = true)"><i class="fa fa-gears"></i></div>
            </Authorized>
            <NotAuthorized>
                <a class="logout-text" @onclick="@(e => Action = "login")">Login</a>
            </NotAuthorized>
        </AuthorizeView>
    </Header>
    <Side>
        <div class="layout-banner">
            <img class="layout-logo" src="_content/Reference.Shared/images/brand.png" />
            <div class="layout-title">
                <span>YZPortal</span>
            </div>
        </div>
        <AuthorizeView Policy="@DealerRoleNames.Administrator.ToString()">
            <div class="layout-menu">
                <div class="scroll">
                    <Menu Items="@Menus" IsVertical="true" class="menu is-vertical is-collapsed" />
                </div>
            </div>
        </AuthorizeView>
    </Side>
    <Main>
        <AuthorizeView>
            <Authorized>
                <CascadingValue Value="this" IsFixed="true">
                    @Body
                </CascadingValue>
            </Authorized>
            <NotAuthorized>
                <Authentication @bind-ConfigsModel="Configs" Action="@Action"></Authentication>
            </NotAuthorized>
        </AuthorizeView>
    </Main>
    <Footer>
        <div class="text-center flex-fill">
            <a class="page-layout-demo-footer-link" href="https://gitee.com/LongbowEnterprise/BootstrapAdmin" target="_blank">Bootstrap Admin</a>
        </div>
    </Footer>
</Layout>

<RightDrawer PortalConfigChanged="@((PortalConfigDto newValue) => SetPortalConfig(newValue))" PortalConfig="@Configs.PortalConfig" @bind-IsRightDrawerOpen="IsRightDrawerOpen"></RightDrawer>