@page "/users"
@using Application.Models.Identity;
@using Application.Models;
@using Application.Requests.Indexes
@using Domain.Enums.Memberships;
@using Microsoft.AspNetCore.Authorization;
@using System.Diagnostics.CodeAnalysis;
@using YZPortal.Client.Clients.YZPortalApi;
@using YZPortal.Client.Pages.Users;
@inject DialogService DialogService
@inject ToastService ToastService
@inject YZPortalApiHttpClient YZPortalApiClient
@attribute [Authorize(Policy = nameof(Role.Administrator))]

<h1>Users</h1>
<div class="tabs-body-content">
    <Table TItem="UserModel"
           IsPagination="true"
           PageItemsSource="@PageItemsSource"
           IsBordered="true"
           ShowToolbar="true"
           ShowDefaultButtons="true"
           ShowDeleteButton="true"
           IsMultipleSelect="true"
           IsAutoRefresh="@IsTableAutoRefreshEnabled"
           AutoRefreshInterval=501
           ShowAddButton="false"
           ShowEditButton="false"
           ClickToSelect="true"
           ShowSearch="true"
           ShowFooter="true"
           ShowExtendButtons="true"
           ShowExtendEditButton="false"
           ShowExtendDeleteButton="false"
           TableSize="TableSize.Normal"
           OnDeleteAsync="@OnDeleteAsync"
           OnQueryAsync="@OnQueryAsync">
        <TableColumns>
            <TableColumn @bind-Field="@context.UserProfileImageUrl" Text="Profile Image" Width="120">
                <Template Context="value">
                    <ImageViewer Url="@value.Value" ShowPlaceHolder="true" HandleError="true" FitMode="ObjectFitMode.Contain">
                        <PlaceHolderTemplate>
                            <div class="d-flex">
                                <div>
                                    <img src="favicon.png" />
                                </div>
                            </div>
                        </PlaceHolderTemplate>
                        <ErrorTemplate>
                            <div class="d-flex">
                                Load failed
                            </div>
                        </ErrorTemplate>
                    </ImageViewer>
                </Template>
            </TableColumn>
            <TableColumn @bind-Field="@context.Email" Sortable="true" Text="Email" />
            <TableColumn @bind-Field="@context.DisplayName" Sortable="true" Text="Name" />
            <TableColumn @bind-Field="@context.AuthTime" Sortable="true" FormatString="yyyy-MM-dd" Text="Last logged-in" />
        </TableColumns>
        <RowButtonTemplate>
            <TableCellButton Color="Color.Primary" Icon="fa-solid fa-pen" Text="Edit" OnClick="() => OpenUserEditDialog(context)" />
        </RowButtonTemplate>
        <EditTemplate>
        </EditTemplate>
    </Table>
</div>

@code {
    private static IEnumerable<int> PageItemsSource => new int[] { 2, 4, 10 };

    private List<UserModel>? Users;

    public QueryPageOptions queryPageOptions { get; set; } = new();

    public bool IsTableAutoRefreshEnabled { get; set; }

    private async Task OpenUserEditDialog(UserModel userModel)
    {
        var dialogOpt = new DialogOption()
            {
                ShowCloseButton = false,
                Title = "Edit User Details",
                Component = BootstrapDynamicComponent.CreateComponent<UserEditDialog>(),
                Size = Size.Large
            };
        dialogOpt.Component = BootstrapDynamicComponent.CreateComponent<UserEditDialog>(new Dictionary<string, object?>
            {
                [nameof(UserEditDialog.User)] = userModel,
                [nameof(UserEditDialog.CloseDialog)] = EventCallback.Factory.Create<MouseEventArgs>(this, dialogOpt.CloseDialogAsync),
                // TODO: using autorefresh is not ideal, look for alternatives e,
                [nameof(UserEditDialog.RefreshParentComponentCallback)] = EventCallback.Factory.Create<bool>(this, () => IsTableAutoRefreshEnabled = true),
            });
        await DialogService.Show(dialogOpt);
    }

    private async Task<QueryData<UserModel>> OnQueryAsync(QueryPageOptions options)
    {
        // Reset flag
        if (IsTableAutoRefreshEnabled)
        {
            IsTableAutoRefreshEnabled = false;
            StateHasChanged();
        }
        queryPageOptions = options;

        var orderby = new List<string>();

        if (options.SortOrder != SortOrder.Unset)
        {
            orderby.Add(options.SortName + " " + options.SortOrder.ToString());
        }

        var getUsersAsyncResult = await YZPortalApiHttpClient.ExecuteCallGuardedAsync(
            async () => await YZPortalApiClient.GetUsersAsync(new SearchRequest()
                {
                    PageSize = options.PageItems,
                    PageNumber = options.PageIndex,
                    SearchString = options.SearchText ?? "",
                    OrderBy = orderby.ToArray()
                }),
            ToastService,
            title: "Load Data",
            hideSuccessToast: true
        );

        Users = getUsersAsyncResult.Data;

        return await Task.FromResult(new QueryData<UserModel>()
            {
                Items = Users,
                TotalCount = getUsersAsyncResult.TotalItems,
                IsSorted = orderby.Any(),
                IsSearch = !string.IsNullOrEmpty(options.SearchText)
            });
    }

    private async Task<bool> OnDeleteAsync(IEnumerable<UserModel> items)
    {
        var users = items.ToList();
        var isAnyDeleted = false;

        foreach (var user in users)
        {
            var deleteUserAsyncResult = await YZPortalApiHttpClient.ExecuteCallGuardedAsync(
                async () => await YZPortalApiClient.DeleteUserAsync(user.SubjectIdentifier),
                ToastService,
                title: "Delete Data"
            );

            if (deleteUserAsyncResult.Succeeded)
            {
                isAnyDeleted = true;
                Users?.Remove(user);
            }
        }

        return await Task.FromResult(isAnyDeleted);
    }
}