@using Application.Features.Users.Configs.Queries.GetConfigs;
@using Domain.Enums.Memberships;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using YZPortalV8.Client.Clients.YZPortalApi;
@using YZPortalV8.Client.Pages.Authentication
@using YZPortalV8.Client.Services.Authentication;
@using YZPortalV8.Client.Services.LocalStorage;
@inherits LayoutComponentBase
@inject IAuthorizationService _authorizationService
@inject ILocalStorageService LocalStorageService
@inject YZPortalApiHttpClient YZPortalApiClient
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>YZPortal</PageTitle>

<Layout SideWidth="0"
        IsPage="true"
        ShowGotoTop="false"
        ShowCollapseBar="true"
        IsFullSide="@Configs.PortalConfig.IsFullSide"
        IsFixedHeader="@Configs.PortalConfig.IsFixedHeader"
        IsFixedFooter="@Configs.PortalConfig.IsFixedFooter"
        ShowFooter="@Configs.PortalConfig.ShowFooter"
        TabDefaultUrl="/" UseTabSet="@Configs.PortalConfig.UseTabSet"
        AdditionalAssemblies="new[] { GetType().Assembly }" class="@Configs.PortalConfig.Theme">
    <Header>
        <span class="ms-3 flex-sm-fill d-none d-sm-block"></span>
        <div class="flex-fill d-sm-none">
        </div>
        <CultureSelector />
        <Widget></Widget>
        <div class="layout-drawer" @onclick="@(e => IsRightDrawerOpen = true)"><i class="fa fa-gears"></i></div>
    </Header>
    <Side>
        <a href="/dashboard">
            <div class="layout-banner ">
                <img class="layout-logo" src="favicon.png" />
                <div class="layout-title">
                    <span>YZPortal</span>
                </div>
            </div>
        </a>
        <div class="layout-menu">
            <div class="scroll">
                <Menu Items="@AdminMenu" IsVertical="true" class="menu is-vertical is-collapsed" />
                <Menu Items="@CatalogMenu" IsVertical="true" class="menu is-vertical is-collapsed" />
                <Menu Items="@PromotionsMenu" IsVertical="true" class="menu is-vertical is-collapsed" />
            </div>
        </div>
    </Side>
    <Main>
        <CascadingValue Value="this" IsFixed="true">
            @Body
        </CascadingValue>
    </Main>
    <Footer>
        <div class="text-center flex-fill">
            <a class="page-layout-demo-footer-link" href="https://gitee.com/LongbowEnterprise/BootstrapAdmin" target="_blank">Bootstrap Admin</a>
        </div>
    </Footer>
</Layout>

<RightDrawer PortalConfigChanged="@((PortalConfigDto newValue) => SetPortalConfig(newValue))" PortalConfig="@Configs.PortalConfig" @bind-IsRightDrawerOpen="IsRightDrawerOpen"></RightDrawer>
